/*
20181114 - corrigido expansÃƒÂ£o do #nav
*/
/* reset */
html, figure, article, section, aside, header, footer, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}a {color:inherit; text-decoration:none;}img {border:0;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse; border-spacing: 0;}input, textarea, select {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}html, body {height:100%;}
/*responsive*/
@media screen and (max-width: 667px) {}
@media screen and (min-width: 668px) and (max-width: 768px) {}
@media screen and (min-width: 769px) and (max-width: 1024px) {}
@media screen and (min-width: 1025px) and (max-width: 1366px) {}
/*clearfix*/
.clearfix:after {content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin-bottom: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
/*design*/
body {-webkit-font-smoothing:antialiased; font-family:"Roboto", sans-serif, arial; font-size:16px; color:#424242;}
@media screen and (max-width: 667px) {
	body {padding-top:50px; font-size:14px;}
}
.absolutecenter {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -webkit-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.content {display:block; margin:0 auto; width:100%; padding:20px 30px;}
.container {float:left; width:100%;}
hr {display:block; width:100%; height:1px; border:0; border-bottom:1px solid #ddd; margin:20px 0;}
.fck p {margin:0 0 15px 0;}
.fck h1 {margin:0 0 15px 0;}
.fck h2 {margin:0 0 15px 0;}
.fck h3 {margin:0 0 15px 0;}
.fck ul {list-style:disc outside; margin:0 0 15px 30px;}
.fck ol {list-style:decimal outside; margin:0 0 15px 30px;}
.fck li {margin-bottom:5px;}
.fck table {margin-bottom:15px;}
.fck table p {margin:0;}
input[type=text], input[type=file], input[type=number], input[type=tel], input[type=date], input[type=password], input[type=email], input[type=password], select, textarea {width:100%; padding:0; font-family:inherit; font-size:inherit; border-radius:0; border:1px solid var(--cinza2); padding:8px; border-radius:4px; background-color:#fff; font-size:0.813rem;}
select {background:url(../img/select-icon.png) no-repeat right center #fff; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
input:focus, select:focus, textarea:focus {border-color:var(--cor1);}
input[disabled] {color:gray;}
textarea {font-size:0.875rem;}
form label {display:inline-block; padding:7px 7px 7px 0; margin-right:5px;}
form .label1 {display:block; padding:0 2px 2px 2px;}
form dl {float:left; width:100%; padding:5px; margin-bottom:5px;}
form dt {font-size:0.813em; margin-bottom:5px;}
form dt a {color:var(--cor1);}
form dd {color:var(--cinza4); font-size:0.813em;}
form dd a {text-decoration:underline;}
form dd.aviso {font-size:0.75rem; color:var(--cor1); padding:4px 0;}
form .colunas, form .colunas2, form .colunas3, form .colunas4, form .colunas5 {float:left; width:100%;}
form .colunas dl, form .colunas .dl1 {width:50%;}
form .colunas3 {float:left; width:100%;}
form .colunas3 dl, form .colunas3 .dl1 {width:33.33%;}
form .colunas3 .dl2 {width:66.6%;}	
form .colunas4 dl, form .colunas4 .dl1 {width:25%;}
form .colunas4 .dl2 {width:50%;}
form .colunas4 .dl3 {width:75%;}
form .colunas5 dl, form .colunas5 .dl1 {width:20%;}
form .colunas5 .dl2 {width:40%;}
form .colunas5 .dl3 {width:60%;}
form .colunas5 .dl4 {width:80%;}
form .colunas6 dl, form .colunas6 .dl1 {width:16%;}
form .colunas6 .dl2 {width:32%;}
form fieldset {float:left; width:100%; margin:10px 0; border:1px solid var(--cinza1); border-top:2px solid var(--cor1); padding:15px 20px;}
form fieldset:after {content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; margin-bottom: 0;}
form legend {font-size:1.25em; padding:0 5px; color:var(--cor1);}
form button {border:0; padding:0; font-family:inherit; font-size:0.813rem; cursor:pointer; background:inherit; padding:9px 16px; background:var(--cinza3); border-radius:4px; color:#fff; font-weight:bold; transition:all 100ms;}
form button:hover {background-color:var(--cinza3hover);}
form button i:before {margin:0;}
form .erro {background-color:#ffffdb !important;}
.chosen-container .chosen-results li.highlighted {background-color: var(--cor1); color:#fff;}
@media screen and (max-width: 667px) {
	form legend {font-size:20px;}
	form dl, form .dl1, form .dl2, form .dl3 {width:100% !important;}
	fieldset {padding:4%;}
}
form input:not(.noupper),form textarea:not(.noupper) { text-transform: uppercase }

:root {
	--cor1:#000;
	--cor1hover:#69ba43;
	--cinza1:#ebebeb;
	--cinza1hover:#E3E6E5;
	--cinza2:#ddd;
	--cinza2hover:#CCD2D2;
	--cinza3:#B2B3B5;
	--cinza3hover:#989B9D;
	--cinza4:#989B9D;
	--cinza4hover:#85878B;
	--texto1:#424242;
}

#login {position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
#login form {width:300px; padding:25px; background:#fff; box-shadow:0 0 80px rgba(0,0,0,0.05); transition:all 299.9ms; border-bottom:5px solid var(--cinza2);}
#login .logo {display:block; margin:5px auto 20px auto;}
#login form:focus-within {box-shadow:0 0 80px rgba(0,0,0,0.15); border-color:var(--cor1);}
#login ul {float:left; width:100%; font-size:1.5em;}
#login li {text-align:center; margin-top:10px;}
#login li a {display:block; border:1px solid var(--cinza2); border-radius:4px; padding:8px 0; color:var(--cor1);}
#login li a:hover {border-color:var(--cor1);}

@media screen and (min-width: 667px) {
	#nav {float:left; width:215px; height:100vh; background:var(--cinza1); position:fixed; overflow:auto;}
	#nav .logo {height:70px; display:flex; align-items: center; justify-content: center; margin:20px;}
	#nav .logo img {max-width:100%; height:auto;}
	#nav .form-empresa {margin:20px;}
	#nav .menu {font-size:0.9375rem;}
	#nav .usuario {margin:20px; border-top:1px solid var(--cinza2); padding-top:20px;}
	#nav .usuario .nome {font-size:0.813em; font-weight:bold; margin-bottom:10px;}
	#nav .usuario .botao {padding:4px 4px; font-size:0.813em;}
	#nav .menu-mobile {display:none;}
}
#nav .js-expande:after {content:"\f107"; font-family:"icones"; position:absolute; right:20px; margin-top:3px; color:var(--cinza3hover);}
#nav .menu li > a {display:block; padding:10px 20px; transition:all 100ms; position:relative;}
#nav .menu li > a:hover {color:var(--cor1hover); background-color:var(--cinza1hover);}
#nav .menu li > a.active {color:var(--cor1hover);}
#nav .menu dl {display:none; font-size:0.75rem; background-color:var(--cinza1hover); padding:10px 0; border-top:1px solid var(--cinza2hover);}
#nav .menu dt > a {display:block; padding:5px 20px;}
#nav .menu dt > a:hover {color:var(--cor1hover);}
#nav .menu dt > a.active {color:var(--cor1hover);}
@media screen and (max-width: 667px) {
	#nav {position:absolute; z-index:9999; top:0; left:0; width:100%; height:50px; background:var(--cinza2);}
	#nav .logo img {height:30px; width:auto; position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
	#nav .form-empresa {margin:20px;}
	#nav .menu {display:none; position:absolute; z-index:9999; width:100%; top:50px; left:0; background:var(--cinza1);}
	#nav .usuario {float:right; margin:7px;}
	#nav .usuario .nome {display:none;}
	#nav .usuario .botao span {display:none;}
	#nav .menu-mobile {float:left; margin:7px;}
}
#nav.collapse {width:10px;}
#nav.collapse .usuario {display:none;}
#conteudo.collapse {margin-left:10px;}
#conteudo {margin-left:215px; padding:20px 40px;}
@media screen and (max-width: 667px) {
	#conteudo {margin:0; padding:0;}
}

.box-talk {margin:0 auto !important; width:1200px; max-width:90%;}

.botao {display:inline-block; font-weight:bold; font-size:1.125em; background-color:var(--cinza3); color:#fff; padding:8px 14px; border-radius:4px; margin-right:2px; transition:all 100ms;}
.botao:hover {background-color:var(--cinza3hover); color:#fff !important;}
.botao i:before {margin:0;}
.botao-principal {background-color:var(--cor1);}
.botao-principal:hover {background-color:var(--cor1hover); color:#fff !important;}

.box-caminho {margin-bottom:20px; border-bottom:1px solid var(--cinza2);}
.box-caminho h1 {font-size:1.375em; color:var(--cinza4); padding-bottom:10px;}
.box-caminho .js-collapse {position:absolute; top:0; color:var(--cinza4); background-color:var(--cinza2); padding:16px 6px; margin-right:10px; margin-left:-40px; font-size:1.375em;}
.box-caminho .js-collapse:hover {background-color:var(--cinza2hover);}
.box-caminho .js-collapse span:after {content:"\f104"; font-family:"icones";}
.box-caminho .js-collapse.active span:after {content:"\f105";}
@media screen and (max-width: 667px) {
	.box-caminho {margin:4%;}
	.box-caminho h1 {font-size:1em;}
}

.box-botoes {margin-bottom:20px;}
@media screen and (max-width: 667px) {
	.box-botoes {padding:0 4%;}
}

.box-filtros {background-color:var(--cinza1); padding:20px; margin-bottom:20px;}
.box-filtros dl {padding:0 5px;}
.box-filtros dt {font-size:0.75em; margin-bottom:2px;}
/*.box-filtros input, .box-filtros select {padding:5px;}*/
.box-filtros .chosen-container-multi .chosen-choices {min-height:28px !important; line-height:28px !important;}
@media screen and (max-width: 667px) {
	.box-filtros {padding:4%;}
}

.box-registros {margin-bottom:20px;}
.box-registros .opcoes {margin-bottom:20px;}
.box-registros .opcoes .qtd {display:inline-block; font-size:0.813em; font-weight:bold; border:1px solid var(--cor1); color:var(--cor1); padding:4px 6px; border-radius:4px;}
.box-registros .opcoes .link {display:inline-block; font-size:0.813em; font-weight:bold; background-color:var(--cor1); color:#fff; padding:4px 6px; border-radius:4px;}
.box-registros .opcoes .link:hover {background-color:var(--cor1hover);}
.box-registros table {width:100%; font-size:0.813em;  font-family:"Roboto Condensed"}
.box-registros th {text-transform:uppercase; font-size:0.6875rem; text-align:left; border-bottom:1px solid var(--cinza3); padding:6px 10px; background:#fff;}
.box-registros td {border-bottom:1px solid rgba(0,0,0,0.1); border-right:1px solid rgba(0,0,0,0.1); padding:6px 10px;}
.box-registros tr td:last-child {border-right:0;}
.box-registros tr:nth-child(even) {background:var(--cinza1); transition:all 100ms;}
.box-registros tr:hover {background:var(--cinza1hover);}
.box-registros tr.abordado {opacity:0.5;}
.box-registros td a {border-bottom:1px dotted var(--cinza3);}
.box-registros td a:hover {color:var(--cor1hover);}
.box-registros .paginacao {margin-top:20px;}
.box-registros .paginacao a {display:inline-block; background:var(--cinza1); color:var(--cinza4);padding:4px 10px; border-radius:4px;}
.box-registros .paginacao a:hover {background-color:var(--cinza1hover);}
.box-registros .paginacao a.active {background-color:var(--cor1); color:#fff;}
.box-registros .avaliacao-estrelas {display:inline-block; width:75px;}
.box-registros .avaliacao-estrelas i:before {margin:0;}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {background:var(--cor1); color:#fff;}
@media screen and (max-width: 667px) {
	.box-registros .opcoes {padding:0 4%;}
	.box-registros table {display:block; width:100%; overflow:auto;}
	table.tablesorter thead tr .header {background-image:none !important;}
}

.box-form {width:970px; max-width:100%;}

.box-abas {margin:40px 0 20px 0; border-bottom:2px solid var(--cor1); font-size:0.9375em;}
.box-abas li {display:inline;}
.box-abas li a {display:inline-block; background:var(--cinza1); color:var(--cinza4); padding:8px 12px; border-radius:0 15px 0 0; transition:all 100ms;}
.box-abas li a:hover {background-color:var(--cinza1hover);}
.box-abas li a.active {background-color:var(--cor1); color:#fff; font-weight:bold;}

.grafico {float:left; width:100%;}
.canvasjs-chart-credit {display:none !important;}

.dashboard {display:flex; flex-wrap:wrap;}
.box-dashboard {width:100%; border:3px solid var(--cinza1); padding:20px; border-radius:5px; margin:20px 0;}
.dashboard .coluna {flex:50%; padding:0 10px;}
.dashboard .titulo-dashboard {font-size:1.5em; color:var(--cinza4); margin-bottom:20px;}
.dashboard .acesso .ip {font-size:1em; color:var(--cinza4); margin-top:20px;}

.historico-lista {float:left; width:58%; height:192px; overflow:auto; border:1px solid var(--cinza2); background:var(--cinza1); margin-bottom:10px;}
.historico-lista .item {padding:10px; border-bottom:1px dashed var(--cinza2);}
.historico-lista .dataautor {font-size:0.6875em; color:var(--cinza4);}
.historico-lista .mensagem {font-size:0.813em;}
.historico-incluir {float:right; width:40%;}

#temporeal {font-family:"Roboto Condensed"}
#temporeal .filtros {background:none; padding:0;}
#temporeal .info1 {margin-bottom:5px;}
#temporeal .info1 .item {float:left; width:16.16%; margin:0 0.25%;}
#temporeal .info1 .item-drop {color:#EA0008;}
#temporeal .info1 h1 {font-size:0.8125em; font-weight:normal; text-transform:uppercase;}
#temporeal .info1 h2 {font-size:1.25em;}
#temporeal .info2 {margin-bottom:15px;}
#temporeal .info2 .item {float:left; width:16.16%; margin:0.25%; background:#666667; color:#fff; padding:5px 10px 5px 0;}
#temporeal .info2 .item-paused {background-color:#DBBD3B;}
#temporeal .info2 .item-dead {background-color:#000;}
#temporeal .info2 .item-waiting-ok {background-color:#2FB52D;}
#temporeal .info2 .item-waiting {background-color:#EA0008;}
#temporeal .info2 figure {float:left; width:60px; height:55px; display:flex; justify-content:center; align-items:center;}
#temporeal .info2 h1 {font-size:0.8125em; font-weight:normal; text-transform:uppercase; height:30px; display:flex; align-items:center;}
#temporeal .info2 h2 {font-size:1.5em; line-height:1;}

#temporeal .fila {width:100%; font-family:"Roboto Mono"; font-weight:bold; margin-bottom:20px;}
#temporeal .fila th {font-size:0.6875em; font-family:"Roboto Condensed"; font-weight:bold; border-bottom:1px solid #424242; padding:1px 5px;}
#temporeal .fila td {font-size:0.6875em; border-bottom:1px solid rgba(0,0,0,0.15); border-right:1px solid rgba(0,0,0,0.15); padding:1px 5px; text-align:center;}
#temporeal .fila tr td:last-child {border-right:0 !important;}
#temporeal .fila td.inbound span {display:inline-block; height:1.3em; overflow:hidden;}
@media screen and (min-width: 500px) and (max-width: 800px) {
	#temporeal {font-size:13px; margin-top:-46px;}
	#temporeal .info2 .item {padding:5px 5px 5px 0;}
	#temporeal .info2 figure {width:35px; height:50px;}
	#temporeal .info2 figure img {max-width:20px; height:auto;}
	#temporeal .fila tr th:nth-child(6), #temporeal .fila tr td:nth-child(6) {display:none;}
}
@media screen and (max-width: 667px) {
	#temporeal {font-size:8px; margin-top:-46px;}
	#temporeal .info2 .item {padding:5px;}
	#temporeal .info2 figure {width:100%; height:20px; justify-content: left;}
	#temporeal .info2 figure img {max-height:15px; width:auto;}
	#temporeal .info2 h1 {clear:both; font-size:1em; height:20px;}
	#temporeal .fila tr th:nth-child(1), #temporeal .fila tr td:nth-child(1) {display:none;}
	#temporeal .fila tr th:nth-child(6), #temporeal .fila tr td:nth-child(6) {display:none;}
}

.botao-notas {position:fixed; z-index:998; bottom:0; right:0;}
#notas {position:fixed; z-index:999; bottom:0; right:0; width:270px; height:340px; background:#ebebeb; box-shadow:0 0 10px rgba(0,0,0,0.3);}
#notas .lista .box {float:left; width:100%; height:270px; overflow:auto; padding:15px; margin-bottom:15px;}
#notas .lista .registros td {padding:5px;}
#notas .lista .registros tr:nth-child(odd) {background:#ddd;}
#notas .lista .registros a {text-decoration:none; color:#424242;}
#notas .lista .registros a .icon-cancel {opacity:0.6;}
#notas .leitura .box textarea {float:left; width:100%; height:270px; background:transparent; font-size:0.75em; margin-bottom:15px; box-shadow:none; border:0; padding:15px; text-transform:none !important;}

#notas .botoes {padding:15px; margin:0;}
#notas .botao-recolher {background:silver; margin:0;}